@import url("https://use.typekit.net/dyy5xdy.css");

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

:root {
    --acc: #1e1e1e;
    --acc2: #a51c30;
}

/* debug
* {
    outline: 1px solid red;
}
*/
body {
    font-family: 'neue-haas-grotesk-text', sans-serif;
    animation-name: fadein;
    animation-duration: 0.5s;
    font-weight: 400;
    font-size: 1em;
}

.contribution-note {
    word-spacing: 0.25em;
    padding-bottom: 2vh;
}

.me {
    color: var(--acc);
    font-weight: 700;
    font-family: 'neue-haas-grotesk-text';
}

.section-heading {
    font-family: 'neue-haas-grotesk-text', sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-top: 4vh;
    margin-bottom: 0.25vh;
    color: var(--acc);
    text-transform: uppercase;
}

.first-section {
    margin-top: 0;
}

table {
    margin-left: 5vh;
    margin-top: 7vh;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2vw .5vh;
}

td {
    text-align: flex-start;
}

p {
    line-height: 1.75;
    word-spacing: 0.25em;
    max-width: 1200px;
}

a {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    position: relative;
    color: var(--acc);
    text-decoration: none;
    padding-bottom: .25em;
    font-size: 1.2em;
    font-weight: 600;
}

a::before {
    content: "";
    background-color: var(--acc);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
}

@media (max-width: 560px) {
    table {
        width:90%;
    }
}
